/* .filtros-icon{
    visibility: hidden;
} */
 body{
    font-family: sans-serif;
    font-size: small;
 }
#filter{
    border: 1px, solid, grey;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
h4{
    font-weight: normal;
}
small{
    font-size: x-small;
}
label{
    font-size: small;
}